.form {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        padding: 20px;
        border: 1.5px solid rgb(255, 233, 236);
        border-radius: 10px;
        min-height: 200px;

        display: flex;
        flex-direction: column;
        
}
.label {
        font-size: medium;
}
.input {
        margin: 15px 0px;
        width: 350px;
        padding: 6px;
        border: 1.5px solid rgb(221, 216, 217);
        border-radius: 5px;

}

.submit {
        margin-right: auto;
        margin-left: auto;
        width: 100px;
        padding: 6px;
        outline: none;
        border: none;
        border-radius: 4px;
        background-color: rgb(255, 233, 236);
}