.menu {
        display: flex;
        flex-direction: row;
        align-items: baseline;
       gap: 20px;
}

.email {
        margin: 0;
        margin-right: 20px;
}

.btn {
        width: 100px;
                padding: 6px;
                outline: none;
                border: none;
                border-radius: 4px;
                background-color: rgb(255, 233, 236);
                height: 30px;
}

.link {
        text-decoration: none;
        color: black;
        padding: 15px;
}